.mainPageContainer {
    display: flex;
    justify-content: center;
}

.pageContent {
    margin-top: 40px;
    width: 90%;
    font-family: 'Courier New', Courier, monospace;
}

.pageContent canvas {
    height: 500px;
}