.articlesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: scroll;
}

.articlesPagination {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 14px;
}

.articlesGrid {
    justify-content: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    height: 100%;
    width: 80%;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100% 100% 100%; 
    row-gap: 50px;
}

.changePageButton {
    width: 50px;
}

.pageTitle {
    width: 90%;
    margin: 0 auto 20px auto;
    text-align: center;
}

.articlesGrid a {
    color: white;
    text-decoration: none;
}

@media (max-width: 1045px) {
    .articlesItem {
        width: 180px;
        height: 100px;
        background-color: black;
    }

    .articlesGrid {
        gap:30px 15px;
    }
}

@media (min-width: 1045px) {
    .articlesItem {
        width: 300px;
        height: 200px;
        background-color: black;
    }
}