.pageContainer {
  background-color: rgb(22, 22, 22);
  color: rgb(231, 231, 231);
  width: 100vw;
  height: calc(100vh - 80px);
  overflow: hidden;
}

.currentPageContent {
  margin-top: 80px;
  max-height: calc(100% - 160px);
  overflow-y: scroll;
  overflow-x: hidden;
}