.upperBarContainer {
    position: absolute;
    background-color: rgb(53, 53, 53);
    left: 0;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;

}

.optionsContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px
}

@media (min-width: 1045px) {
    .menuOption {
        width: 60px;
    }    

    .upperBarContainer {
        height: 80px;
    }
}

@media (max-width: 1045px) {
    .menuOption {
        width: 50px;
    }
    
    .menuOption svg {
        scale: 0.8;
    }

    .upperBarContainer {
        height: 50px;
    }

    .optionsContainer {
        margin-top: 10px
    }
}

.menuOption {
    cursor: pointer;
    text-align: center;
    font-size: 22px;
}

.menuOption:hover svg {
    fill: #aaa
}