.upperBarContainer {
    position: fixed;
    z-index: 2;
    background-color: rgb(53, 53, 53);
    left: 0;
    top: 0;
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 3px 28px 5px  rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0px 3px 28px 5px  rgba(255, 255, 255, 0.1);
    box-shadow: 0px 3px 28px 5px  rgba(255, 255, 255, 0.1);
}

.logo {
    position: fixed;
    left: 40px;
    top: 15px
}

.upperBarContainer a {
    text-decoration: none;
    color: rgb(231, 231, 231);
}

@media (min-width: 1045px) {
    .optionsContainer {
        height: 100%;
        display: flex;
        /* justify-content: center; */
        margin: auto;
        margin-left: calc(auto - 150px);
    }
    .mobileMenu {
        display: none;
    }
}
  
@media (max-width: 1045px) {
    .optionsContainer {
        display: none;
    }

    .mobileMenu {
        height: 100%;
        margin-top: 5px;
        cursor: pointer
    }

    .upperBarContainer {
        justify-content: right;
        height: 50px;
    }

    .logo {
        top: 8px;
        left: 25px;
    }

    .logo svg {
        width: 60px;
    }

    .mobileMenuContainer {
        width: 100vw;
        height: 100vh;
        background-color: rgb(53, 53, 53);
        position: fixed;
        top:50px;
        left:0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .mobileMenuOptionsContainer {
        margin: 20px auto;
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .mobileMenuOptionsContainer a {
        margin: 0 auto;
    }

    .mobileMenuOptionsContainer .menuOption {
        width: 150px;
        text-align: center;
    }
}


.menuOption {
    padding: 25px;;
    width: 150px;
    height: 100%;
    text-align: center;
    font-size: 22px;
}
.menuOption:hover {
    font-weight: bold;
}
